<div class="page-header">
	<h1>Examples</h1>
</div>
<h4>Search by name</h4>
<ul>
	<li>
		<code>/comuni</code> - <a class="effect_link" href='/comuni'>All the municipalities</a>
	</li>
	<li>
		<code>/comuni/{startName}</code> - <a class="effect_link" href='/comuni/sa'>Municipalities with name that starts with 's'</a>
	</li>
	<li>
		<code>/comuni/{startName}</code> - <a class="effect_link" href='/comuni/samarate'>Municipalities with name 'Samarate'</a>
	</li>
</ul>
<h4>Search by Id</h4>
<ul>
	<li>
		<code>/getMunicipalityInfo/{idMunicipality}</code> - <a class="effect_link" href='/getMunicipalityInfo/1472'>Comune 'Samarate' Info</a>
	</li>
	<li>
		<code>/getProvinceInfo/{idProvince}</code> - <a class="effect_link" href='/getProvinceInfo/12'>Provincia 'Varese' Info</a>
	</li>
	<li>
		<code>/getRegionInfo/{idRegion}</code> - <a class="effect_link" href='/getRegionInfo/3'>Regione 'Lombardia' Info</a>
	</li>
</ul>	    
			
		

	    
			
		

		
			
		

	    
			
		

		
			
		

       
			
		
